# <center>LAB 1 - Playing with IRIS Dataset

---------------------------

Name: **KRISH GOYAL** <br>
Reg No: **21112015** <br>
Class: **3 BSC DS** <br>

---------------
    
    
<u>**Objectives**</u>  
- Import the Toy IRIS Dataset [1 Mark]
- Print the Head and Tail of the Dataset (first 5 and last 5 entries) [1 Mark]
- Create a New Column named "Average" and find the Average of existing four features and store the same [2 Marks]
- Create a New Column named "Sum" and find the Sum of existing four features and store the same [2 Marks]
- Check how many entires of "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" are present in the Dataset [2 Marks]
- Find the Descriptive Statistics about all the Six Columns (existing four + two made-up features) [2 Marks]
- Find the entries whose Sum Values are more than a User Input [3 Marks]
- Find the entries whose Sepal_Length is greater than Petal_Width [2 Marks]
- Documentation, Formatting and Standard Programming: 5 Marks

-----------------
    
<u>**Problem Statement**</u>  
- Importing Dataset from Sklearn Library and then taking out average and sum row wise
- Comparing the two columns and finding which one is greater and finding the descriptive statistics of the dataset

-------------------
    
<u>**Methods**</u> 
- Constructing Dataframe using **pd.DataFrame()**
- Adding new columns for Sum & Average and calculating through **mean()** & **sum()** functions
- Maping Species Column with the Target Names using **map()** and **enumerate()** function
- Finding descriptive statistics using **describe()** function in pandas library
- Counting the Each categories of Flowers present using **value_counts()**
- Extracting the values of Sepal_length and Petal_Width using greater than operater**(>)**
- Extracting the values which are higher in sum column from the input given by user using greater than operator**(>)**

------------------
    
<u>**Observations**</u>
- Successfully imported the dataset from sklearn library
- First five rows are printed using head and last five rows are printed using tail functions respectively
- A new column named with average is added to the dataset containing the average of each row of the dataset
- A new column named with Sum is added to the dataset containing the sum of each row of the dataset
- The Species Column is remaped with their names and then counting their values
- Descriptive Statistics shows the count, mean, standard deviation, min, max, 25%, 50%,75% of each column of the dataset which helps us to gain meaningful insights & Also the mean and Standard Deviation of Sepal_Length column is higher than all columns
- Entries who's value is greater than input are showcased in the output
- Entries who's Sepal Length is greater than Petal Width are showcased in the output

------------------
 
<u>**Results**</u>
- Average and Sum of each row of the dataset
- There are three categories of flowers"IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" 50 each are present in the dataset 

------------------
 
<u>**Learnings & Reflection**</u>
- Importing the Dataset using Sklearn library
- Creating Dataframe from Pandas Library
- Getting better insights about the IRIS Dataset that what are the Sepal Length , Petal Length , Sepal Width and Petal Width
- Usage of sum, mean and map Functions
    
------------------

<u>**References**</u> <br>
1. [DataCamp](https://www.datacamp.com/cheat-sheet/pandas-cheat-sheet-for-data-science-in-python)<br> 
2. [Pandas Documendation](https://pandas.pydata.org/)<br>

------------------

<u><center>**Completion Status**</u>

| Question Number | Status |
| --- | --- |
| 1 | Completed |
| 2 | Completed |
| 3 | Completed |
| 4 | Completed |
| 5 | Completed |
| 6 | Completed |
| 7 | Completed |
| 8 | Completed |

### Import the Toy IRIS Dataset

In [1]:
from sklearn.datasets import load_iris
iris= load_iris()

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(data=np.c_[iris['data'], iris['target']],columns= iris['feature_names'] + ['Species'])

**Observation** - *Successfully imported the dataset from sklearn library*

### Print the Head and Tail of the Dataset (first 5 and last 5 entries)

In [3]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [4]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

**Observation** - *First five rows are printed using head and last five rows are printed using tail functions respectively*

### Create a New Column named "Average" and find the Average of existing four features and store the same

In [5]:
df['Average'] = df.mean(numeric_only=True, axis=1)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average
0,5.1,3.5,1.4,0.2,0.0,2.04
1,4.9,3.0,1.4,0.2,0.0,1.90
2,4.7,3.2,1.3,0.2,0.0,1.88
3,4.6,3.1,1.5,0.2,0.0,1.88
4,5.0,3.6,1.4,0.2,0.0,2.04
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0,3.84
146,6.3,2.5,5.0,1.9,2.0,3.54
147,6.5,3.0,5.2,2.0,2.0,3.74
148,6.2,3.4,5.4,2.3,2.0,3.86
149,5.9,3.0,5.1,1.8,2.0,3.56

**Observation** - *A new column named with average is added to the dataset containing the average of each row of the dataset*

### Create a New Column named "Sum" and find the Sum of existing four features and store the same

In [6]:
df['Sum'] = df.sum(numeric_only=True, axis=1)
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
0,5.1,3.5,1.4,0.2,0.0,2.04,12.24
1,4.9,3.0,1.4,0.2,0.0,1.90,11.40
2,4.7,3.2,1.3,0.2,0.0,1.88,11.28
3,4.6,3.1,1.5,0.2,0.0,1.88,11.28
4,5.0,3.6,1.4,0.2,0.0,2.04,12.24
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0,3.84,23.04
146,6.3,2.5,5.0,1.9,2.0,3.54,21.24
147,6.5,3.0,5.2,2.0,2.0,3.74,22.44
148,6.2,3.4,5.4,2.3,2.0,3.86,23.16
149,5.9,3.0,5.1,1.8,2.0,3.56,21.36

**Observation** - *A new column named with Sum is added to the dataset containing the sum of each row of the dataset*

### Check how many entires of "IRIS Setosa", "IRIS Virgnica" and "IRIS Versicolor" are present in the Dataset

In [7]:
iris['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
df['Species'] = df['Species'].map(dict(enumerate(iris['target_names'])))  
df
#Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object.

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
0,5.1,3.5,1.4,0.2,setosa,2.04,12.24
1,4.9,3.0,1.4,0.2,setosa,1.90,11.40
2,4.7,3.2,1.3,0.2,setosa,1.88,11.28
3,4.6,3.1,1.5,0.2,setosa,1.88,11.28
4,5.0,3.6,1.4,0.2,setosa,2.04,12.24
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3.84,23.04
146,6.3,2.5,5.0,1.9,virginica,3.54,21.24
147,6.5,3.0,5.2,2.0,virginica,3.74,22.44
148,6.2,3.4,5.4,2.3,virginica,3.86,23.16
149,5.9,3.0,5.1,1.8,virginica,3.56,21.36

In [9]:
df["Species"].value_counts()

virginica     50
versicolor    50
setosa        50
Name: Species, dtype: int64

**Observation** - *The Species Column is remaped with their names and then counting their values*

### Find the Descriptive Statistics about all the Six Columns (existing four + two made-up features)

In [10]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Average,Sum
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,2.971600,17.829600
std,0.828066,0.435866,1.765298,0.762238,0.777835,4.667009
min,4.300000,2.000000,1.000000,0.100000,1.680000,10.080000
25%,5.100000,2.800000,1.600000,0.300000,2.140000,12.840000
50%,5.800000,3.000000,4.350000,1.300000,3.070000,18.420000
75%,6.400000,3.300000,5.100000,1.800000,3.555000,21.330000
max,7.900000,4.400000,6.900000,2.500000,4.480000,26.880000

**Observation** - *Descriptive Statistics shows the count, mean, standard deviation, min, max, 25%, 50%,75% of each column of the dataset which helps us to gain meaningful insights* <br>
*The mean and Standard Deviation of Sepal_Length column is higher than all columns*

### Find the entries whose Sum Values are more than a User Input

In [11]:
n = int(input("Enter the number to check Sum: "))
df[df['Sum'] > n]

Enter the number to check Sum: 20

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
50,7.0,3.2,4.7,1.4,versicolor,3.46,20.76
52,6.9,3.1,4.9,1.5,versicolor,3.48,20.88
56,6.3,3.3,4.7,1.6,versicolor,3.38,20.28
70,5.9,3.2,4.8,1.8,versicolor,3.34,20.04
76,6.8,2.8,4.8,1.4,versicolor,3.36,20.16
77,6.7,3.0,5.0,1.7,versicolor,3.48,20.88
86,6.7,3.1,4.7,1.5,versicolor,3.40,20.40
100,6.3,3.3,6.0,2.5,virginica,4.02,24.12
101,5.8,2.7,5.1,1.9,virginica,3.50,21.00
102,7.1,3.0,5.9,2.1,virginica,4.02,24.12
103,6.3,2.9,5.6,1.8,virginica,3.72,22.32
104,6.5,3.0,5.8,2.2,virginica,3.90,23.40
105,7.6,3.0,6.6,2.1,virginica,4.26,25.56
107,7.3,2.9,6.3,1.8,virginica,4.06,24.36
108,6.7,2.5,5.8,1.8,virginica,3.76,22.56
109,7.2,3.6,6.1,2.5,virginica,4.28,25.68
110,6.5,3.2,5.1,2.0,virginica,3.76,22.56
111,6.4,2.7,5.3,1.9,virginica,3.66,21.96
112,6.8,3.0,5.5,2.1,virginica,3.88,23.28
113,5.7,2.5,5.0,2.0,virginica,3.44,20.64
114,5.8,2.8,5.1,2.4,virginica,3.62,21.72
115,6.4,3.2,5.3,2.3,virginica,3.84,23.04
116,6.5,3.0,5.5,1.8,virginica,3.76,22.56
117,7.7,3.8,6.7,2.2,virginica,4.48,26.88
118,7.7,2.6,6.9,2.3,virginica,4.30,25.80
119,6.0,2.2,5.0,1.5,virginica,3.34,20.04
120,6.9,3.2,5.7,2.3,virginica,4.02,24.12
121,5.6,2.8,4.9,2.0,virginica,3.46,20.76
122,7.7,2.8,6.7,2.0,virginica,4.24,25.44
123,6.3,2.7,4.9,1.8,virginica,3.54,21.24
124,6.7,3.3,5.7,2.1,virginica,3.96,23.76
125,7.2,3.2,6.0,1.8,virginica,4.04,24.24
126,6.2,2.8,4.8,1.8,virginica,3.52,21.12
127,6.1,3.0,4.9,1.8,virginica,3.56,21.36
128,6.4,2.8,5.6,2.1,virginica,3.78,22.68
129,7.2,3.0,5.8,1.6,virginica,3.92,23.52
130,7.4,2.8,6.1,1.9,virginica,4.04,24.24
131,7.9,3.8,6.4,2.0,virginica,4.42,26.52
132,6.4,2.8,5.6,2.2,virginica,3.80,22.80
133,6.3,2.8,5.1,1.5,virginica,3.54,21.24
134,6.1,2.6,5.6,1.4,virginica,3.54,21.24
135,7.7,3.0,6.1,2.3,virginica,4.22,25.32
136,6.3,3.4,5.6,2.4,virginica,3.94,23.64
137,6.4,3.1,5.5,1.8,virginica,3.76,22.56
138,6.0,3.0,4.8,1.8,virginica,3.52,21.12
139,6.9,3.1,5.4,2.1,virginica,3.90,23.40
140,6.7,3.1,5.6,2.4,virginica,3.96,23.76
141,6.9,3.1,5.1,2.3,virginica,3.88,23.28
142,5.8,2.7,5.1,1.9,virginica,3.50,21.00
143,6.8,3.2,5.9,2.3,virginica,4.04,24.24
144,6.7,3.3,5.7,2.5,virginica,4.04,24.24
145,6.7,3.0,5.2,2.3,virginica,3.84,23.04
146,6.3,2.5,5.0,1.9,virginica,3.54,21.24
147,6.5,3.0,5.2,2.0,virginica,3.74,22.44
148,6.2,3.4,5.4,2.3,virginica,3.86,23.16
149,5.9,3.0,5.1,1.8,virginica,3.56,21.36

**Observation** - *Entries who's value is greater than input are showcased in the output*

### Find the entries whose Sepal_Length is greater than Petal_Width

In [12]:
df[df["sepal length (cm)"] > df["petal width (cm)"]]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species,Average,Sum
0,5.1,3.5,1.4,0.2,setosa,2.04,12.24
1,4.9,3.0,1.4,0.2,setosa,1.90,11.40
2,4.7,3.2,1.3,0.2,setosa,1.88,11.28
3,4.6,3.1,1.5,0.2,setosa,1.88,11.28
4,5.0,3.6,1.4,0.2,setosa,2.04,12.24
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3.84,23.04
146,6.3,2.5,5.0,1.9,virginica,3.54,21.24
147,6.5,3.0,5.2,2.0,virginica,3.74,22.44
148,6.2,3.4,5.4,2.3,virginica,3.86,23.16
149,5.9,3.0,5.1,1.8,virginica,3.56,21.36

**Observation** - *Entries who's Sepal Length is greater than Petal Width are showcased in the output*